*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 210, 161);
}


.lettre-secret{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.secret{
    height: 400px;
    background-color: beige;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 95%;
    box-shadow: 0 0 10px rgb(246, 205, 23);
    border-radius: 10px;
    text-align: justify;
    gap: 20px;
    padding: 20px 40px;
}

.importent{
    
    display: flex;
    padding: 9px 20px;
    justify-items: center;
    gap: 100px;
    margin-bottom: 30px;
}

:is(.importent1, .importent2){
    text-transform: uppercase;
    color: red;
    box-shadow: 0 0 9px red;
    padding: 11px 9px;
    border-radius: 4px;
   transform: rotate(5.7deg);
   transition: 1.2s ease;
}

:is(.importent1, .importent2):hover{
    transform: scale(1.2);

}



h3{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;

}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


span{
    filter: blur(3px);
}